# Fichier de configuration de securite personnalise par Ansible (TP Avance)

# Desactive l'affichage de la version du serveur (utilise la variable ServerTokens)
ServerTokens {{ server_tokens_value }}
